<div container-fluid style="padding-top: 10px;">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

		<%blogs.forEach(function(blog){ %>
		<div class="col">
			<div class="card border-light mb-3">
				<img src="<%= blog.image %>" class="card-img-top" alt="...">
				<a href="/blog/<%= blog._id %>" class="card-header btn stretched-link"><%= blog.title %></a>
				<div class="card-body">
					<p class="card-text"><%= blog.body.slice(0, 90) %> ...</p>
				</div>
			</div>
		</div>
		<% }) %>
		
	</div>
</div>
