<div container-fluid style="padding-top: 10px;">

	<% if(blogs.length==0){ %>
	<h6>You don't have any blogs yet. Click <a href="#" onclick="openCreateNav()" id="create">here</a> to create a new blog.</h6>
	<%}else{%>

	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
		<% blogs.forEach(function(blog){ %>
		<div class="col">
			<div class="card border-light mb-3">
				<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top" alt="...">
				<a href="/blog/<%= blog._id %>" class="card-header btn stretched-link"><%= blog.title %></a>
				<div class="card-body">
					<p class="card-text"><%= blog.body.slice(0, 90) %> ...</p>
				</div>
			</div>
		</div>
		<% }) %>
	</div>

	<% } %>

</div>
<script>
	$(document).ready(openCreateNav);
	function openCreateNav() {
		$("#nav-create-tab").click();
	}
</script>