<div class="container-fluid" style="padding-top: 10px; text-align: left;">
	<form action="/compose" method="post" enctype="multipart/form-data">

		<div class="form-group">
			<label for="Title">Title</label>
			<input name="blogTitle" class="form-control form-control-sm" type="text" id="Title" required="required">

			<label for="body">Body</label>
			<textarea name="blogBody" class="form-control" id="body" rows="3" required="required"></textarea>

			<label for="exampleFormControlFile1">Image</label>
			<input name="image" type="file" class="form-control-file" id="exampleFormControlFile1">
		</div>

		<button type="submit" class="btn btn-dark">Publish</button>

	</form>
</div>