<nav class="navbar navbar-expand-md navbar-dark">
	<a class="navbar-brand" href="#">
		<img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
		Blog Website
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form action="/search" method="POST" class="form-inline">
			<input name="searchQuery" class="form-control form-control-sm my-2 my-sm-0" type="search" placeholder="Search">
			<button class="btn btn-sm btn-dark " type="submit">Search</button>
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item mx-sm-3">
				<a class="nav-link" href="/">Home</a>
			</li>

			<li class="nav-item mx-sm-3">
				<a class="nav-link" href="/"><%= user.firstName %> </a>
			</li>
			<li class="nav-item m-1">
				<a href="/logout"><button role="button" class="btn btn-outline-light">Logout</button></a>
			</li>
		</ul>
	</div>
</nav>