<div class="container-fluid" style="padding-top: 10px; text-align: left;">
	<form action="/compose" method="post">

		<div class="form-group">
			<label for="Title">Title</label>
			<input name="postTitle" class="form-control form-control-sm" type="text" id="Title">

			<label for="Post">Post</label>
			<textarea name="postBody" class="form-control" id="Post" rows="3"></textarea>
		</div>

		<button type="submit" class="btn btn-dark">Publish</button>

	</form>
</div>